.usersPhoto {
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
.button {
   border-radius: 20px;
}
.buttonFallow {
   background: red;
   color: white;
}
.buttonUnfallow {
   background: lime;
}
