.header {
   grid-area: h;
   background: lime;
   .loginBlock {
      color: red;
      float: right;
      margin-top: 15px;
   }
}

.header img {
   height: 56px;
   padding-top: 2px;
   border-radius: 50%;
}
