.triangl {
   width: 120px;
   height: 100px;
   margin: 50px;
   border: 1px solid rgb(0, 0, 0);
   transition: box-shadow 0.5s ease-in-out 0.01s;
   &:hover {
      box-shadow: 1px 1px 10px black, inset 1px 1px 10px wheat;
      background: repeating-linear-gradient(
            45deg,
            rgba(255, 255, 0, 0.562),
            rgba(255, 255, 0, 0.384) 10px,
            transparent 10px,
            transparent 20px
         ),
         repeating-linear-gradient(
            -45deg,
            rgba(255, 255, 0, 0.562),
            rgba(255, 255, 0, 0.384) 10px,
            transparent 10px,
            transparent 20px
         );
   }
}
