.block {
   width: 400px;
   height: 300px;
   margin: 40px;
   background: #999;
   overflow: hidden;
   position: relative;
   border-radius: 50px;
   box-shadow: 0 8px 15px rgba(255, 255, 255, 0.5);
   &:hover:after {
      opacity: 0;
   }
   img {
      width: 500px;
   }
   &:after {
      content: "";
      width: 400px;
      height: 300px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.5s ease-in-out 0.01s;

      background: repeating-linear-gradient(
            -45deg,
            rgba(255, 255, 255, 0.5) 4px,
            rgba(255, 255, 255, 0.5) 8px,
            transparent 8px,
            transparent 12px
         ),
         repeating-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.5) 4px,
            rgba(255, 255, 255, 0.5) 8px,
            transparent 8px,
            transparent 12px
         );
   }
}
.block1 {
   width: 500px;
   height: 500px;
   background: repeating-radial-gradient(goldenrod, goldenrod 10px, transparent 10px, transparent 20px);
   margin: 50px;
   border-radius: 50px;
   box-shadow: 10px 10px 10px grey;
   border: 1px solid rgb(0, 0, 0);
}

.button {
   display: block;
   margin: 20px;
   width: 100px;
   height: 100px;
   background-color: hotpink;
   cursor: pointer;
   border-radius: 50%;
   box-shadow: 10px 10px 10px gray, inset -5px 5px 10px white;
}
