.wrapper {
   margin: 80px;
   perspective: 900px;
   .cube {
      position: relative;
      width: 300px;
      height: 300px;
      transform: rotateY(150deg);
      transform-style: preserve-3d;
      transform: scale(1);
      .site {
         height: 100%;
         width: 100%;
         background: rgba(177, 12, 192, 0.37);
         position: absolute;
         transform-origin: 50% 50% -150px;
         border: 1px solid rgb(255, 254, 254);
      }
   }
}
.site1 {
   transform: rotateX(90deg);
}
.site2 {
   transform: rotateX(-90deg);
}
.site3 {
   transform: rotateY(-90deg);
}
.site4 {
   transform: rotateY(90deg);
}
.site5 {
   transform: rotateY(180deg);
}
